<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>PokeDex</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    @for (pokemon of pokemons; track pokemon) {
      <ion-card (click)="goToPage(pokemon)">
        <ion-card-content>
          <ion-row class="ion-align-items-center">

            <ion-col size="3">
              <ion-img [src]="pokemon.sprite"></ion-img>
            </ion-col>

            <ion-col size="4">
              <ion-text class="ion-text-capitalize">
                {{ pokemon.name }}
              </ion-text>
            </ion-col>

            <ion-col size="5" class="ion-no-padding">
              <div class="type-list">
                <span [class]="getTypeClass(pokemon.type1)">{{ pokemon.type1 }}</span>
                @if (pokemon.type2) {
                  <span [class]="getTypeClass(pokemon.type2)">{{ pokemon.type2 }}</span>
                }
              </div>
            </ion-col>

          </ion-row>
        </ion-card-content>
      </ion-card>
    }

  </ion-grid>

  <ion-infinite-scroll
    threshold="50px"
    [disabled]="!hasMorePokemons"
    (ionInfinite)="getMorePokemons($event)">

    <ion-infinite-scroll-content
      loadingText="Cargando..."
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>

  </ion-infinite-scroll>

</ion-content>
