<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="ion-text-capitalize">{{ pokemon?.name || 'Detalle' }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  @if (pokemon) {
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <ion-img [src]="pokemon.sprite" class="pokemon-detail-image"></ion-img>
        </ion-col>
      </ion-row>
      <!-- Informacion basica -->
      <ion-card>
        <ion-card-header>
          <ion-card-title class="ion-text-capitalize">{{ pokemon.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="type-list">
            <span [class]="getTypeClass(pokemon.type1)">{{ pokemon.type1 }}</span>
            @if (pokemon.type2) {
              <span [class]="getTypeClass(pokemon.type2)">{{ pokemon.type2 }}</span>
            }
          </div>

          <p><strong>Altura:</strong> {{ pokemon.height }} m</p>
          <p><strong>Peso:</strong> {{ pokemon.weight }} kg</p>
        </ion-card-content>
      </ion-card>

      <!-- Habilidades -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Habilidades</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p><strong>Principales:</strong> {{ pokemon.abilities.join(', ') }}</p>
        </ion-card-content>
      </ion-card>
      
      <!-- Estadisticas -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Estadísticas</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          @for (stat of pokemon.stats; track stat.name) {
            @let value = toNumber(stat.base_stat);
            @let color = value >= 60 ? 'success' : value <= 30 ? 'danger' : 'warning';
            <ion-row class="ion-align-items-center">
              <ion-col size="4">
                <ion-text>{{ stat.name }}</ion-text>
              </ion-col>
              <ion-col size="2">
                <ion-text>{{ value }}</ion-text>
              </ion-col>
              <ion-col>
                <ion-progress-bar [value]="value / 100" [color]="color"></ion-progress-bar>
              </ion-col>
            </ion-row>
          }
        </ion-card-content>
      </ion-card>
    </ion-grid>
  }

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goBack()">
      <ion-icon name="close-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>